:root,
:root[data-theme='dark'] {
    --font-main: var(--font-jost), cursive;

    --bg-color-01: #101927;
    --bg-color-02: #151f2e;
    --bg-color-03: #1e2939;
    --bg-color-04: #182232;

    --bg-color-border-01: #293547;
    --bg-color-hover: #2f3b4e;

    --border-color: #242f40;

    --text-color-01: #f4f4f4;
    --text-color-02: #8799b5;
    --text-color-03: #5e94f3;
    --text-color-04: #babed8;
    --text-color-05: #526177;

    --text-accent: #9fef00;

    --color-accent: #9fef00;
}

*:focus {
    outline: none;
}

html {
    scroll-padding-top: calc(var(--nav-offset, 4rem) + 1rem);
    font-size: 1.2rem;
}

body {
    padding-top: calc(var(--nav-offset, 4rem) + 1rem);
    background-color: var(--bg-color-01);
    font-family: var(--font-main);
    color: var(--text-color-01);
}

body.no-scroll {
    overflow: hidden;
}

a {
    color: var(--font-color);
    text-decoration: none;

    &:visited {
        color: var(--font-color);
    }
}