:root[data-theme="light"] {}

:root,
:root[data-theme='dark'] {
    --font-sans: var(--font-jost), cursive;
    --font-mono: var(--font-dejavu), monospace;

    --bg-color-01: #101927;
    --bg-color-02: #151f2e;
    --bg-color-03: #1e2939;

    --bg-color-hover: #2f3b4e;

    --text-color-01: #f4f4f4;
    --text-color-02: #8799b5;
    --text-color-03: #5e94f3;
    --text-color-04: #babed8;

    --text-accent: #9fef00;

    --color-accent: #9fef00;
}

*:focus {
    outline: none;
}

html {
    font-size: 1.2rem;
}

body {
    background-color: var(--bg-color-01);
    font-family: var(--font-sans);
    color: var(--text-color-01);
}

body.no-scroll {
    overflow: hidden;
}

a {
    color: var(--font-color);
    text-decoration: none;

    &:visited {
        color: var(--font-color);
    }
}